@model IEnumerable<Movie_Mania_2.Models.Movie>

@{
    ViewBag.Title = "Home Page";
}

    <h1 class="display-1 text-center" style="font-family:'Gill Sans MT'"> ULTIMAS AGREGADAS</h1>
    <div class="container container-fluid">
        @*CAROUSEL*@
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="border-radius:30px;">
                <div class="carousel-item active">
                    <img src="https://tecnovortex.com/wp-content/uploads/2019/04/wallpaper-engine.jpg" class="img-fluid">
                </div>
                <div class="carousel-item">
                    <img src="https://i.pinimg.com/originals/a7/fc/aa/a7fcaa43650adc892c401956a08dc32a.jpg" class="img-fluid" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <hr class="invisible" />

        @*PELICULAS POR GENERO*@
        <div>
            <div class="row">
                <h1 class="text-center" style="font-family:'Gill Sans MT'">ACCION</h1>
                @foreach (var item in Model)
                {
                    if ((int)item.Genero == 0)
                    {
                        <div class="col" style="border:double;border-radius:45px">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </div>
                    }
                }

            </div>
        </div>

        <hr class="invisible" />

        <div>
            <div class="row">
                <h1 class="text-center" style="font-family:'Gill Sans MT'">DRAMA</h1>
                @foreach (var item in Model)
                {
                    if ((int)item.Genero == 1)
                    {
                        <div class="col" style="border:double;border-radius:45px">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </div>
                    }
                }
            </div>
        </div>

        <hr class="invisible" />

        <div>
            <div class="row">
                <h1 class="text-center" style="font-family:'Gill Sans MT'">COMEDIA</h1>
                @foreach (var item in Model)
                {
                    if ((int)item.Genero == 2)
                    {
                        <div class="col">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </div>
                    }
                }
            </div>
        </div>
    </div>

